.movie_slide_area > .title {
    margin: 35px 0 30px 80px;
}
.carousel-container {
    overflow: initial;
}
.sub_info {
    margin-bottom: 20px;
    text-align: right;
}
.keyword {
    margin-right: 20px;
}
.movie_slide_area li {
    min-height: 250px;
}

@media screen and (max-width: 768px) {
    .movie_slide_area > .title {
        margin: 35px 0 20px 17px;
    }
}