/* .movie_list_area {
    display: flex;
    justify-content: center;
} */

.pagination {
    justify-content: center;
    margin-top: 30px;
}
.pagination .page-link {
    /* background-color: transparent;
    border-color: transparent; */
    color: var(--bs-secondary);
}
.pagination .page-link:hover {
    color: var(--bs-red);
    background-color: #eeeeee;
}
.pagination .active>.page-link, .pagination .page-link.active{
    background-color:var(--bs-red);
    border-color: var(--bs-red);
}
.pagination .active>.page-link:hover, .pagination .page-link.active:hover {
    color: #fff;
}