html,
body {
  height: 100%;
}
body {
  background-color: #212529 !important;
}
#root {
  height: 100%;
  /* background-color: #212529; */
}
.wrap {
  height: 100%;
  color: #dee2e6;
  padding-bottom: 40px;
}
.section {
  padding: 20px 0 40px;
  overflow: hidden;
}